<!-- PAGE | ABOUT -->
<div class="pages page-about" id="page-about">
   <div class="container">
      <!-- Header -->
      <header>
         <h4 class="line-divider">About</h4>
         <h1>Meet The Team</h1>
         <div class="row">
            <div class="span8 offset2">
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
               </p>
            </div>
         </div>
      </header>
      <!-- End Header -->
      <!-- Article -->
      <article>
         <!-- List of people and description with their contact details which are visable on hover -->
         <div class="thumbnails about-items">
            <div class="row">
               <div class="col-lg-6">
                  <div class="span4 center">
                     <div class="item">
                        <!-- Team member image -->
                        <img class="img-circle" src="~/Content/images/team01.jpg" alt="Treble">

                        <!-- Team memeber details, activated on hover -->
                        <div class="about-overlay img-circle">
                           <div class="social-icons sicon-white">
                              <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                              <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                              <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                              <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                              <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                           </div>
                        </div>
                     </div>

                     <!-- Team member name and function -->
                     <h5>
                       Horia Cojan<br />
                        <small>Founder & Creative director</small>
                     </h5>

                     <!-- Team member short info -->
                     <p class="smallFontBy08">Having graduated from Queen Mary University wih a BA in Film Studies, Horia has moved
                        back to his native Romania to work as a freelance filmmaker. By creating a platform in which
                        athletes can showcase their riding, it is his dream is to bring together two of his greatest
                        passions, film and the mountains. Horia’s aim is to build a supportive and diverse group that
                        is able to make a change to the landscape and community, not only in the mountain bike
                        world but in all mountain sports throughout Romania.</p>
                  </div>
               </div>

               <div class="col-lg-6">
                  <div class="span4 center">
                     <div class="item">
                        <img class="img-circle" src="~/Content/images/team02.jpg" alt="Treble">
                        <div class="about-overlay img-circle">
                           <div class="social-icons sicon-white">
                              <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                              <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                              <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                              <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                              <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                           </div>
                        </div>
                     </div>

                     <h5>
                        Grace Bouchard<br />
                        <small>Co-Creative director</small>
                     </h5>
                     <p class="smallFontBy08">Having trained as an actress and theatre maker, Grace has experience across many creative
                        mediums. Grace’s first short-film I Am will soon be entering the festival circuit across the UK.
                        Her passion for community outreach projects and improving opportunity accessibility for
                        young people is what initially drew her to BIFF’s ethos, teaming this with her events
                        coordination experience makes her the ultimate driving force. Grace is enjoying living in
                        Romania for the first time and is excited to help showcase all that Brasov has to offer.</p>
                  </div>
               </div>
               
              <div class="col-lg-6">
                  <div class="span4 center">
                     <div class="item">
                        <img class="img-circle" src="~/Content/images/team03.jpg" alt="Treble">
                        <div class="about-overlay img-circle">
                           <div class="social-icons sicon-white">
                              <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                              <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                              <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                              <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                              <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                           </div>
                        </div>
                     </div>

                     <h5>
                        Rares Achiriloaie<br />
                        <small>Event director</small>
                     </h5>
                     <p class="smallFontBy08">Rares has a degree in politics &amp; international relations from SOAS – University of London and
                        recently moved back to his hometown of Brasov. He is the founder and head coordinator of
                        Transylvania Basketball Tournament which is in it’s fourth year. Rares is driven, ambitious
                        and always has a plan B and we are very lucky to have him on board for the first edition of
                        BIFF.</p>
                  </div>
               </div>
            
               <div class="col-lg-6">
            <div class="span4 center">
               <div class="item">
                  <img class="img-circle" src="~/Content/images/team04.jpg" alt="Treble">
                  <div class="about-overlay img-circle">
                     <div class="social-icons sicon-white">
                        <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                        <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                        <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                        <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                        <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                     </div>
                  </div>
               </div>

               <h5>
                  Adela Ionescu<br />
                               <small>Marketing Manager</small>
               </h5>
               <p class="smallFontBy08">Adela’s keen eye for trends and her astute business knowledge make her a formidable social
                  media manager. Having finished a degree in Fashion and Marketing from University of
                  Westminster London, her knowledge in social media marketing was the missing element of
                  the base team of Brasov Independent Film Festival.</p>
            </div>
               </div>
         </div>
         </div>
      </article>
      <!-- End Article -->
   </div>
</div>
<!-- END PAGE | ABOUT -->