<div class="pages white paralax page-welcome" id="page-welcome">
   <!-- Centralized content -->
      <div class="container">
         <div class="row-fluid">
            <div class="span12 center">
               <!-- Animated logo -->
               <div class="logo">
                  <div class="scrollNormal">
                     <a href="#page-work">
                        <img src="assets/images/pages/welcome/logo_welcome.png" width="140" height="140" alt="Treble">
                     </a>
                  </div>
                  <div class="scrollDown">
                     <a href="#page-work">
                        <img src="assets/images/pages/welcome/logo2_welcome.png" width="140" height="140" alt="Treble">
                     </a>
                  </div>
               </div>

               <div class="line-divider" id="welcome-messages">
                  <ul class="slides">
                     <li>
                        <h1>Our new website is on its way.</h1>
                     </li>
                     <li>
                        <h1>For festival submissions, a link of your film to contact@brasovindependentfilmfestival.com
                           by 22 nd September 2018.</h1>
                     </li>
                  </ul>
               </div>
               <p>One page responsive HTML5 template.</p>
               <div class="social-icons sicon-white bordered">
                  <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                  <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                  <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                  <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                  <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
               </div>
            </div>
         </div>
      </div>
   </div>
